<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-accordion>
                <mat-expansion-panel class="mt-3" *ngFor="let item of seasons" (opened)="getRaces(item.season)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                           <b>{{item?.season}}</b> 
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card class="mb-1" *ngFor="let race of races">
                        <b>{{race.raceName}} - Winner</b>
                        <br>
                        <ng-container *ngFor="let winner of race.Results">
                            <diV class="row" >
                                <div class="col">{{winner | json}}</div>
                            </diV>
                        </ng-container>
                        
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
</div>